.container .our {
  color: #f54748;
  font-size: 39px;
  font-weight: bold;
}
.feedback {
  font-size: 16px;
}
.lb {
  display: grid;
  grid-column: 1fr 1fr;
  font-family: "Poppins", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 0 auto;
  width: 700px;
  height: 600px;
  margin-top: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
label {
  margin-left: 60px;
  font-weight: 600;
}
.name {
  margin-top: 40px;
}
.lb > .ipt {
  width: 580px;
  height: 40px;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  background: rgb(239, 239, 239);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
textarea {
  width: 580px;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  background: rgb(239, 239, 239);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.bt {
  border: 1px solid #f54748;
  color: #f54748;
  font-weight: 500;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  margin-left: 540px;
  margin-bottom: 20px;
}
.bt:hover {
  background-color: #f54748;
  color: #fff;
}
.help {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.accept {
  display: flex;
  align-items: center;
  width: 580px;
  margin: 0 auto;
}
.accept > label {
  padding-right: 10px;
}
.accept > label > a {
  color: #f54748;
}
.checkbox {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 3px solid rgb(155, 155, 155);
}
@media screen and (max-width: 1024px) {
  textarea {
    margin: 0 auto;
  }
}
@media screen and (max-width: 600px) {
  .lb {
    width: 380px;
  }
  .lb > .ipt {
    width: 360px;
    margin-left: 10px;
  }
  textarea {
    width: 360px;
    margin-left: 10px;
  }
  label {
    margin-left: 10px;
    margin-top: 20px;
  }
  .accept {
    margin-left: 10px;
  }
  .accept > label {
    font-size: 14px;
    margin-bottom: 18px;
  }
  .bt {
    margin: 0 140px;
  }
}