.container{
    padding: 2rem;
    display: grid;
    grid-template-columns: 2.2fr 1fr;
    gap:2rem;
}
.imageTd{
    height: 100%;
    width: 85px;
    object-fit: cover;
     border-radius: 1rem;
}
.table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 1rem;
}
.tbody>tr>td{
    text-align: center;
}
.tbody>tr:nth-child(2){
    width: 15%;
}
.imageTd>img{
    border-radius: 1rem;
}
.cart {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 16rem;
	padding: 1.6rem;
	background-color: var( --cartBack);
	box-shadow: var(--shadow);
	border-radius: 15px;
	& > span {
		font-weight: bold;
		font-size: 1.5rem;
     
	}
}
.CartDetails {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
	& > div {
		display: flex;
		justify-content: space-between;
	}
}
.buttons {
	display: flex;
	gap: 1rem;
	& > * {
		font-size: 0.8rem;
		padding: 0.8rem;
	}
	& > :nth-child(1) {
		background-color: transparent;
		color: var(--themeRed);
		border: 2px solid var(--themeRed);
	}
}
.cartMobile{
	display: none;
}
/* table */
@media (min-width: 740px) and (max-width: 1023px) {
	.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	}
	.cart {
		margin-top: 2rem;
		width: 80%;
	}
}
/* mobie */
@media (max-width:739px) {
	.container{
		display: flex;
		padding: 1rem;
		flex-direction: column-reverse;
	}
	.details{
		display: none;
	}

	.cartMobile{
		display: block;
   
	}
	.headingMobile{
		font-size: 1rem;
    color: var(--text-color);
    font-weight: 400;
    text-align: left;
    margin: 8px 0 8px 8px;
	}
	.listItemMobile{
		padding-left: 0;
    list-style: none;
  
	}
	.cartItemMobile{
		display: flex;
    align-items: center;
	margin-bottom: 10px;
	}
	.imgCartMobile{
		width: 42px;
    height: 45px;
    margin: 12px;
    border: 1px solid #333;
	}
	.itemInfoMobile{
		width: 100%;
	}
	.itemHeadMobile{
		display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px 0;
	}
	.itemNameMobile{
	font-size: 1rem;
    font-weight: 550;
    color: #333;
    margin: 0;
    line-height: 1.2rem;
    max-height: 3rem;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    flex: 1;
    padding-right: 16px;
    text-align: left;
	}
	.priceWrapMobile{
		// margin-right: 12px;
		// top: 0;
	}
	.itemPriceMobile{
		font-size: 1rem;
		font-weight: 400;
		color: var(--themeRed);
		
	}
	.itemMultiply{
		font-size: 0.8rem;
    color: #757575;

	}
	.body{
		display: flex;
    justify-content: space-between;
	}
	.description{
		color: #757575;
    font-size: 0.8rem;
    font-weight: 300;
	}
	.remove{
		color: #333;
    font-size: 0.9rem;
	}
}