.container{
    display: flex;
    padding: 4rem;
    gap:5rem;
    margin-top: 1rem;
}
.imageWrapper{
    position: relative;
    width: 40%;
    max-height: 40rem;
    overflow: hidden;
    display: flex;
    object-fit: cover;
    object-fit: center;
    align-items: center;
    border-radius: 2rem;

}

.imageWrapper>img{
    border-radius: 2rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 80%;
}
.imageWrapper:hover img{
    transform: scale(1.2);
    cursor: pointer;
}
.right{
    display: flex;
    flex: 1;
    gap:1rem;
    flex-direction: column;
    font-size: 2.2rem;
    font-weight: bold;
    justify-content: space-between;
}
.right>:nth-child(2){
    font-size: 1.4rem;
    font-weight: normal;
    color: var(--gray);
}
.right>:nth-child(3){
    color: var(--themeRed);
}
.size{
    display: flex;
    gap: 3rem;
    font-weight: 600;
    font-size: 1.6rem;
}
.sizeVaraints{
    display: flex;
    gap:0.6rem;
    font-weight: normal;
    color: var(--themeRed);
    font-size: 0.8rem;
}
.sizeVaraints>div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 1.5rem;
     border: 2px solid var(--themeRed);
     border-radius: 2rem;
}
.sizeVaraints>div:hover{
    cursor: pointer;
  
}
.sizePrimary{
    background-color:var(--themeRed);
    color: white;
      cursor: pointer;
}
.counter{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    font-size: 1.5rem;
  

    input{  
            display: block;
            width: 80px;
            border-radius: 10px;
            text-align: center;
            outline: none;
            border: 1px solid transparent;
            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button{
                -webkit-appearance: none;
            }

            &:focus{
                border-color: var(--themeRed) !important;
                --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) transparent;
                --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) transparent;
                 box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), transparent;
            }
    }
}
// .counter>input{
//     width: 100px;
//     border-radius: 20px;
// }
.quantity{
    display: flex;
    justify-content: flex-start;
    font-size: 1.6rem;
    font-weight: 600;
    gap :3rem

}
.counter>img{
    width: 20px;
    height: 20px;
    margin: auto 10px;
    cursor: pointer;
   
}
.btn{
    font-weight: normal;
    padding: 0.5rem 1rem ; 
    font-size: 1rem;
}
 /* table  */
 @media (min-width: 740px) and (max-width: 1023px) {
    .container{
        flex-direction: column;
        margin-top: 0;
        gap:3rem;
       
    }
    .imageWrapper{
        width: 80%;
        height: 20rem;
        margin: auto;
    }
    .imageWrapper>img{
        max-height: 20rem;
    }
    
}

/* mobile */
@media (max-width:739px) {
    .container{
        flex-direction: column;
        margin-top: 0;
        gap:2rem;
        padding:2rem 2rem 4rem 2rem;
    }
    .imageWrapper{
        width: 100%;
        height: 15rem;
        margin: auto;
    }
    .right>:nth-child(1){
        font-size: 2rem;
      
    }
    .right>:nth-child(2){
        font-size: 1.2rem;
      
    }
    .size{
    
        gap: 1rem;
      
        font-size: 1.4rem;
    }
    .size>span{
        display: flex;
        align-items: center;
    }
    .sizeVaraints>div{
        
        padding: 0.3rem 1rem;
      
    }
    .btn{
     
        padding: 0.5rem 1rem ; 
        font-size: 0.6rem;
    }
    .quantity>span{
       font-size: 1.2rem;
       align-items: center;
       display: flex ;
    
    }
}