* {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
}
::-webkit-scrollbar {
  /* width: 5px; */
  height: 7px;
  width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
  background: pink;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(252, 157, 157);
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

