.container{
    display: flex;
    flex-direction: column;
    gap:3rem;
   margin-top: 6rem;
   align-items: center;
   justify-content: center;
   background: linear-gradient(ldeg,rgba(255,237,237,0.85),0%, rgba(255,255,255,0) 14rem);
}
.container>span{
    color: var(--themeRed);
    font-weight: bold;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:0.5rem;
    flex: 1;
}
.logo>span{
    font-weight: bold;
    font-size: 1.5rem;
}
.social{
    display: flex;
    gap:1rem;

}
.social>*{
    fill:var(--themeRed)
}
.social:hover{
    cursor: pointer;
}