.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:0.5rem;
    flex: 1;
}
.logo>span{
    font-weight: bold;
    font-size: 1.5rem;
}

.menu{
    flex: 1;
    display: flex;
    justify-content: center;
    list-style: none;
    gap:2rem;
    z-index: 100;
    font-size: 1.2rem;
}
.menu>li:hover{
    cursor: pointer;
    color: var(--themeRed);
}
.rightSide{
    flex: 1;
    display: flex;
    gap:1rem;
    justify-content: flex-end;
}
.cart{
    position: relative;
    display: flex;
    cursor: pointer;
    z-index: 100;
}
.badge{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--themeRed);
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    right: -0.5rem;
}