.container{
    display: flex;
    position: relative;
}
.left{
    display: flex;
    flex-direction: column;
    gap:2rem;
}
.cherryDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: var(--pink);
    margin-top:3rem;
    padding: 1rem;
    border-radius: 2rem;
    font-size: 0.8rem;
    color: var(--themeRed);
    font-weight: bold;

}
.heroText{
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    font-weight: bold;
}
.miniText{
    width: 70%;
    color: var(--gray);
    font-weight: 600;
}
.btn{
    padding: 1rem 2rem;
}
.right{
    position: relative;
}
.imagerContainer{
    width: 38rem;
    position: absolute;
    top:-5rem;
    left: -5rem;
}

.ContactUs{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 1rem;
    width: max-content;
    border-radius: 5rem;
    top:6rem;
    background-color: #fff;
   box-shadow: var(--shadow);
   color: var(--themeRed);
   left: -6rem;
}
.ContactUs:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.ContactUs>div{
    background: rgb(59 208 59 );
    border-radius: 50%;
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}
.Pizza{
    display: flex;
    gap:1rem;
    background-color: #fff;
    box-shadow: (--shadow);
    padding: 0.5rem;
    border-radius: 0.5rem;
    position: absolute;
    bottom: 4rem;
    left: 19rem;
    width: max-content;
}

.Pizza>:nth-child(1){
    width: 6rem;
    height: 4rem;
    overflow: hidden;
    border-radius: .5rem;
}
.Pizza>:nth-child(2){
    display: flex;
    flex-direction: column;
    gap:1rem;
    font-weight: bold;
}
.Pizza:hover{
    transform: scale(1.1);
    cursor: pointer;
}