.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
    font-weight: bold;
}
.heading>:nth-child(1){
    color: var(--themeRed);
    font-size: 1rem;
}
.heading>:nth-child(2),.heading>:nth-child(3){
    font-size: 2rem;
}
.services{
    display: flex;
    margin-top: 3rem;
    gap:3rem;
    align-items: center;
    justify-content: center;
}
.features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
.imageWrapper{
    width: 10rem;
    height: 10rem;
}
.features>:nth-child(2){
    font-weight: bold;
    color: var(--themeRed);
}
.features>:nth-child(3){
    color: var(--gray);
    word-wrap: break-word;
    width: 20rem;
    align-items: center;
}