.container{
    display: flex;
    flex-direction: column;
   margin: 3rem 0;
}
.heading{
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: flex-start;
    margin: 4rem;

    border-radius: 20px;

    background-color:#ffeeee;
    & .headingMain{
        margin-top: 0.5rem;
        font-size: 1.5rem;
        color:var(--themeBlack)
    }
    & .headingProduct{
        color: var(--themeRed);
        margin: 0.5rem 0;
        font-size: 2rem;
     
    }
}
.button{
    margin: 2rem 0;
    text-align: center;
  
    &:hover{
        transform: scale(1.1);
    }
}
/* product */


/* table */
@media (min-width: 740px) and (max-width: 1023px) {
    .ImageWrapper{
        height: 13rem;
        width: 20rem; 
       margin-right: 10px;
    }
    .heading{
        margin:2rem;
    
     
        & .headingProduct{
            font-size: 1.5rem;
            margin:0.5rem 0;
         
        }
    }
}
/* mobie */
@media (max-width:739px) {
    .ImageWrapper{
        height: 12rem;
        width: 18rem; 
        margin-right: 10px;
    }
    .heading{
        margin:3rem 2rem;
    
        & .headingMain{
           
            margin: 0.5rem 0;
            font-size: 1rem;
        }
        & .headingProduct{
            font-size: 1.5rem;
            margin:0.5rem 0;
         
        }
    }
}