.menu{
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;
    row-gap: 2rem;
    align-items: center;
    justify-content: space-around;
}
.pizza{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap:0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;
    width: 30%;
    align-items: center;

}
  
.pizza:hover img{
    cursor: pointer;
    transform: rotate(10deg) !important;

}
.ImageWrapper{
    // max-height: 20rem;
    position: relative;
    overflow: hidden;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;  
}
.ImageWrapper>img{
    max-height: 300px;
    object-fit: conver;
    border-radius: 2rem;
    padding-right: 0;
    padding-top: 0;
   
}




.price{
    display: flex;
    align-items: center;
}
.price>span{
    display: flex;
}
.favorite{
    margin-left: 10px;
    cursor: pointer;
}

.buy{
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 20px;
    border:1px solid var(--themeRed) ;
    padding: 5px 15px;
    border-radius: 15px;
    display:flex;
    align-items: center;
    color: var(--themeRed);
    &:hover{
        background-color: var(--themeRed);
        color: #fff;
    }
}
/* table */
@media (min-width: 740px) and (max-width: 1023px) {
    .ImageWrapper{
       margin-right: 10px;

    }
    .pizza{
        width: 40%;
    }
    .heading{
        margin:2rem;
    
     
        & .headingProduct{
            font-size: 1.5rem;
            margin:0.5rem 0;
         
        }
    }
}
/* mobie */
@media (max-width:739px) {
    .pizza{
        width: 100%;
    }
    .ImageWrapper{
        margin-right: 10px;
    }

    .heading{
        margin:3rem 2rem;
    
        & .headingMain{
           
            margin: 0.5rem 0;
            font-size: 1rem;
        }
        & .headingProduct{
            font-size: 1.5rem;
            margin:0.5rem 0;
         
        }
    }
}