.wrapper{
    height: 100%;
    width: 100%;
     max-height: calc(min((100vh - 96px) - 60px, 734px));;
    min-height: 100px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
     box-shadow: rgba(0 ,0 ,0 , 0.12) 0px 2px 12px;
    padding-top: 8px;
   overflow: auto;
}