.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
   
}
.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:0.5rem;

}

.logo>span{
    font-weight: bold;
    font-size: 1.5rem;
}

// right

.rightSide{

    display: flex;
    gap:1rem;
    justify-content: flex-end;
}
.cart{
    position: relative;
    display: flex;
    cursor: pointer;
    z-index: 100;
}
.badge{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--themeRed);
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    right: -0.5rem;
}
.iconMenu{
    display: none;
}
.navMobile{
    display: none;
}
.navInput{
    display: none;
}
 /* responsive */

 /* table  */
 @media (min-width: 740px) and (max-width: 1023px) {
 
}
    


/* mobile */
@media (max-width:739px) {
    .header{
       
        padding: 1rem ;
       
    }
 
    .navInput:checked ~ .navMobile {
        transform: translate(0);
    }
  
    .navClose{
        position: absolute;
        top:1.3rem;
        right: 1rem;
    }
    .logoMobile{
      position: absolute;
      top:65%;
      left: 50% ;
      transform: translateY(-50%) translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap:0.5rem;
      flex: 1;
    }
    .logoMobile>span{
    font-weight: bold;
    font-size: 1.5rem;
}

}