/* search */
.search,
.searchResult{
    width: 600px;
}
.search{
    position: relative;
    display: flex;
    align-items: center;
    height: 46px;

    padding-left: 16px;

   background-color: rgba(22,24,35,0.06);
   border-radius: 92px;
   border: 1.5px solid transparent;

    input{
        flex: 1;
        height: 100%;
        color: var(--themeBlack);
        font-size: 1rem;
        border: none;
        background-color: transparent;
        outline: none;
        caret-color: var(--themeRed);

    }
    // input:not(:placeholder-shown) ~ .searchBtn{
    //  color:rgba(22,24,35,0.75);
    // }
    &::after{
        content: "";
        position: absolute;
        width: 1px;
        height: 28px;
        top:9px;
        right:45px;
        background-color: rgba(22,24,35,0.12);
      
    }
    &:focus-within{
        border-color:  var(--themeRed);
    }
}
.searchBtn{
    width: 40px;
    height: 100%;
    text-align: center;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    margin-left: 10px;
    &:hover{
        cursor: pointer;
        background-color: rgba(22,24,35,0.03);
    }
    &:active{
        background-color:rgba(22,24,35,0.06) ;
    }
  
}
.clear,
.loading{
    position: absolute;
    right: 60px;
    color:rgba(22,24,35,0.34)
}
// list product
.searchTitle{

}
.listProduct{
    display: flex;
    flex: 1;
    // justify-content: space-around;
    padding: 5px 16px;
    cursor: pointer;
    align-items: center;
    &:hover {
        background-color:  rgba(22,24,35,0.06);
    }
}
.searchTitle{
   
    font-weight: 600;
    font-size: 1rem;
    padding: 2px 12px;
}
.image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: conver;
}
.info{
    flex: 1;
    padding-left: 10px;
}
.name{
    font-size: 1.3rem;
    font-weight: 600;
}
.price{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--themeRed);
}
@media (min-width: 740px) and (max-width: 1023px) {
    // search
    .search,
    .searchResult{
    width: 400px;
    }
}

/* mobile */
@media (max-width:739px) {
    .search{
        display: none;
    }

}