
.pageNotFound{
  background-color: #fff !important;
  /* width: 100%;
  height: 100%; */
  min-height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
.pnfound{
  text-align: center;
  /* margin-top: 20px; */
  color: #000;
}
.pageNotFound img {
  margin: 0 auto;
  margin-top: 10px ;
}
.pageNotFound .goto button{
  color: #fff;
  background-color: blue;
  padding: 10px 16px;
  border-radius: 10px;
}
.pageNotFound .goto{
  text-align: center;
  margin-top: 20px;
}
.pageNotFound .goto button:hover{
  background-color: rgb(0, 123, 255);
  color: #fff;
}
